.criminalHeading{
    text-align: center;
    margin: 5rem;
}

.criminalsContainer {
    display: block;
    flex-flow: row wrap;
    justify-content:space-evenly;
}

.criminalCard {
    display: block;
    justify-self: space-around;
    align-items: center;
    margin: 5px;
    border: 2px dotted;
    width: auto;
    height: auto;
}