.officerHeading{
    text-align: center;
}

.officerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
}

.officerCard {
    display: block;
    justify-self: space-around;
    align-items: left;
    margin: 10px;
    padding: 5px;
    border: 2px dotted;
    width: 30%;
    height: auto;
}